# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
*.log
media/

# Virtual environment
venv/
env/

# Static build files
staticfiles/

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/